<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
    <head>
        <!-- Meta tags -->
        <meta charset="utf-8">
        <meta name="viewport"
              content="width = device-width, initial-scale = 1, shrink-to-fit = no">

        <!-- Bootstrap CSS -->
        <div th:replace="fragments/bootstrapCss"></div>

    <title>Librairie</title>
    </head>

    <body>

    <div th:replace="fragments/header :: header"></div>

    <div class="container-fluid" id="main_title">
        <th:each>
            <th:if test="${!empty account}">
                <h1 class="d-flex justify-content-center">Bienvenue <th:text value="${account.name}"/></h1>
            </th:if>
            <th:unless test="${!empty sessionScope.compte}">
                <h1 class="d-flex justify-content-center">Bienvenue sur le site
                    de la librairie de votre ville !</h1>
                <br />
            </th:unless>
        </th:each>

    </div>

    <div class="container">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="img/slide_1" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/slide_2.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/slide_3.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <div th:replace="fragments/bootstrapJs"></div>

    <!--<div><h1>Hello World</h1></div>-->

    </body>
</html>