<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<meta charset="UTF-8">
<footer th:fragment="footer">
    <div class="container-fluid bg-dark mt-5" id="footer_menu">
        <div class="row bg-dark py-4">
            <div
                    class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-light text-center mb-1">
                <h2>Libraire</h2>
                <p>Le site de la ville réunit les passionnés de lecture.</p>
                <p>© 2020 Openclassrooms, All rights reserved</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 text-light text-center">
                <h4>Menu</h4>
                <div class="list-group">
                    <ul class="list-unstyled">
                        <li><a href="/books">Livres</a></li>
                        <li><a href="information">Information</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center" id="social_button">
        <ul class="row list-unstyled">
            <li><a href="https://www.facebook.com/"><img alt="facebook"
                                                         src="img/facebook.png"></a></li>
            <li><a href="https://www.pinterest.fr/"><img
                    alt="pinterest" src="img/pinterest.png"></a></li>
            <li><a href="https://twitter.com/?lang=fr"><img
                    alt="twitter" src="img/twitter.png"></a></li>
        </ul>
    </div>
    <section class="text-center" id="signature">
        <p>
            Designed by <a
                href="https://www.linkedin.com/in/anthony-pereira-13893416a/">Anthony
            Pereira</a>
        </p>
    </section>
</footer>
</html>