<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<meta charset="UTF-8">
<header th:fragment="header">
	<div class="container-fluid bg-dark mb-5">
		<div class="row">

			<nav class="col-lg-10 navbar navbar-expand-lg navbar-dark" id="header">
				<a class="navbar-brand" href="/"
				   title="accéder à la page d'accueil" alt="logo accueil"><img
						alt="logo du site" src="img/logo.png"/></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarHeader" aria-controls="navbarHeader"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarHeader">
					<div>
						<ul class="navbar-nav mr-auto">
							<li class="nav-item"><a class="nav-link" href="/books">Livres</a></li>
							<li class="nav-item"><a class="nav-link" href="association.jsp">Information</a>
							</li>
							<li class="nav-item"><a class="nav-link" href="event.jsp">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<div class="d-flex align-content-center">
				<nav class="col-lg-2 navbar navbar-expand-lg navbar-dark" id="authentification">
					<ul class="navbar-nav mr-auto">
							<th:if test="${empty sessionScope.menu}"><li class="nav-item"><a class="nav-link" href="signUp">Inscription</a></li></th:if>
							<th:unless test="${!empty sessionScope.menu}"><li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="mySpace" id="navbarDropdownMenuLink"
								   role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Menu
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" href="mySpace">Mon espace</a>
									<a class="dropdown-item" href="profile">Mon profil</a>
									<a class="dropdown-item" href="parameter">Mes paramètres</a>
								</div>
							</li>
							</th:unless>
							<th:if test="${empty sessionScope.authentification}"><li class="nav-item"><a class="nav-link" href="signIn">Connexion</a></li></th:if>
							<th:unless test="${!empty sessionScope.authentification}"><li class="nav-item"><a class="nav-link" href="logOut">Déconnexion</a></li></th:unless>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
