<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<meta charset="UTF-8">
<header th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-light bg-dark text-light mb-5">
		<div class="container-fluid">
			<a class="navbar-brand" href="/" title="accéder à la page d'accueil" alt="logo accueil"><img
					alt="logo du site" src="img/logo.png"/></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link text-light" href="/books">Livres</a>
					</li>
					<li th:if="${account}" class="nav-item">
						<a class="nav-link text-light" href="/mySpace">Mon compte</a>
					</li>
					<li th:unless="${account}" class="nav-item">
						<a class="nav-link text-light" href="/signIn">Connexion</a>
					</li>
					<li th:if="${account}" class="nav-item">
						<a class="nav-link text-light" href="/logout">Déconnexion</a>
					</li>
				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
			</div>
		</div>
	</nav>
</header>
